{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}


    {% if request.properties.plechtigheid is defined and request.properties.plechtigheid is not empty %}
        {% set plechtigheid = commonground_resource(request.properties.plechtigheid) %}
    {% endif %}

    <!-- .row -->
    <div class="row animation" data-animation="animation-fade-in"
         data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{% else %}200{% endif %}">

        <div class="post-heading-center ">
            <h2>Wanneer wilt u trouwen?</h2>
        </div>
        <div class="col-sm-10 col-md-7 col-lg-7 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
            <form method="post" action="{{ path('app_wedding_datum') }}" class="affa-form-contact">
                <div style="overflow:hidden;">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="datetimepicker12"></div>
                                <input type="hidden" name="datum" id="huwelijkDate">
                            </div>
                        </div>
                    </div>
                </div>
                {#  if plechtigheid.id == "bfeb9399-fce6-49b8-a047-70928f3611fb" %}
                    <label for="tijd">Voer uw gewenste tijdstip in als bijvoorbeeld: "12:30"</label>
                    <input id="tijd" name="tijd"
                           type="time" {% if request.properties.datum is defined and request.properties.datum is not empty %} value="{{ request.properties.datum|date("H:i") }}" {% endif %}
                           required>
                {% endif #}
                <button type="submit" class="btn btn-primary btn-icon  btn-block btn-icon"><i
                        class="fas fa-save"></i>
                    Sla datum op
                </button>
            </form>
        </div>
        <div class="col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
            <div class="margin-bottom40">
                <figure class="col-img40 margin-bottom40">
                    <img src="images/content/elements/Bank.png" alt="Image">
                </figure>
            </div>
        </div>

    </div>
    <!-- .row end -->
    <script type="text/javascript">
        $(function () {
            Date.prototype.addDays = function(days) {
                let date = new Date(this.valueOf());
                date.setDate(date.getDate() + days);
                return date;
            }

            let now = new Date();
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true,
                format: 'YYYYMMDDHHmm',
                minDate: now.addDays(42),
                maxDate: now.addDays(500),
                stepping: 15,
            });

            document.getElementById('huwelijkDate').value = $('#datetimepicker12').data().date;

            $('#datetimepicker12').on( "dp.change", function() {
                document.getElementById('huwelijkDate').value = $('#datetimepicker12').data().date;
            });
        });

    </script>
{% endblock %}
